WELCOME TO THE FREE SHOUTING TRANSLATOR
<p></p>
<form id = "sho" method = "get" action = "shout">
<input id = "imp" type = "text" name = "info"/>
<input id = "button" type = "submit" name = "submit"
</form>